
/* Links */
a,
a:focus,
a:hover {
  color: #988CA2;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: none;/*1px solid #333*/;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  <!--background: url('free.png') no-repeat left center fixed;>

}

body {
  color: #333;
  text-align: center;
  text-shadow: none; /*0 1px 3px rgba(0,0,0,.5);*/

}



.main-login {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 110px;
}

  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
   
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    text-align: center;
    line-height: 300%;
  }

.signup-form{
	padding-bottom: 10px;	
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 20px;
}

.main {
	 height : auto !important;          
   padding-top: 25%;
}

.view{
	margin-top: 1%;
	height: 100%;
	margin-left: -5%;
	margin-right: -5%;
}

.backbutton{
	padding-top: 65px;
	text-align: left;
	padding-left: 55px;
}


.account-title h3{
	margin-top: 100px;
	text-align: left;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #796ee1;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: normal;
  color: #333; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #626060;
  border-bottom-color: #626060;
}
/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.container{
	  height: 83%;
	  width: 93%;
}

.view{
	margin-top: 50px;
}

