body {
	font: 11px Arial, Helvetica, sans-serif;
	background: #ffffff url(images/main-bg.gif);
	padding: 0;
	margin: 0;
}
img {
	border: none;
}


/* dock - top & bottom */
.dock {
	position: relative; 
	height: 50px; 
	text-align: center;
}

/* dock - top */
.dock-container {
	position: absolute;
	top:300px;
	overflow: visible;
}

a.dock-item {

	color: #FFF;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}

.dock-item span {
	display: none;
}

/* dock2 - bottom */
#dock2 {
	width: 100%;
	bottom: 0px;
	position: absolute;
	left: 0px;
}
.dock-container2 {
	position: absolute;
	height: 50px;
	background: url(images/dock-bg.gif);
	padding-left: 20px;
}
a.dock-item2 {
	display: block; 
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	padding-left: 20px;
}
.dock-item2 b {
    width: 100%;
    zoom:   100%;
}

.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}

.box {

	color: #FFF;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
    background-color: #3498db;
    border: 1px #2980b9 solid;
}

.box2 {
    background-color: #E74C3C;
    border: 0px yellow solid;
}

.box3 {

	color: #FFF;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
    background-color: #9b59b6;
    border: 1px #8e44ad solid;
}

.cell_dom,cell_source, cell_xhr, cell_to/*,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover*/ {
  font-size: 14.994px;

  font-weight: 500;
}
.cell_dom {
  background: #58d68d;
  color: #ffffff;
  padding: 9px 2px 2px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.cell_dom_menu {
  margin-right:10px;
  background: #58d68d;
  color: #ffffff;
  padding: 3px 8px 1px 8px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.cell_xhr {
/*  background: #9b59b6;
*/  background: #bb79d6;
  color: #ffffff;
   padding: 9px 2px 2px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.cell_xhr_menu {
/*  background: #9b59b6;
*/  background: #bb79d6;
  margin-right:10px;
  color: #ffffff;
  padding: 3px 8px 1px 8px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.cell_xhr2 {
  border:4px solid #9b59b6;
/*  background: #9b59b6;
* background: #bb79d6;*/

}
.cell_to {
  background: #5dade2;
  color: #ffffff;
   padding: 9px 2px 2px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.cell_to_menu {
  margin-right:10px;
  background: #5dade2;
  color: #ffffff;
  padding: 3px 8px 1px 8px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.cell_source {
  border: none;
  background: white;
  color: black;
  padding: 2px 12px 2px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

