div.episodeCode {
  position: relative;
  float: left;
  background: #ffffff;
}

div.mutationnotification {
  background-color: #FF3399;
}

div.storyWrapper {
  background: #ffffff;
  overflow-x: scroll;
}

pre.codeWrapper {
  overflow: auto; 
  height: 800px;
}

td {
  padding: 10px;
  vertical-align: top;
}

/*
td.domEvent {
  border: 1px solid #00CED1;
  background-color: #E0FFFF;
}
*/

td.episode_cell_dom {
  border: 1px solid #00CED1;
  background-color: #E0FFFF;
}

td.episode_cell_timing {
  border: 1px solid #B8860B;
  background-color: #FFF8DC;
}

td.episode_cell_xhr {
  border: 1px solid #FF6347;
  background-color: #FFE4E1;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
