<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
<!--web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>Servlet 3.0 Web Application</display-name> -->

	
	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.clematis.core.episode</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		
		<init-param>
	            <param-name>javax.ws.rs.Application</param-name>
	            <param-value>com.clematis.core.ClematisApplication</param-value>
	    </init-param>
		
		
		<load-on-startup>1</load-on-startup>
 	</servlet>
 
  	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<!--  url-pattern>/rest/*</url-pattern>-->
		<url-pattern>/rest/*</url-pattern>
  	</servlet-mapping>

	
	<filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
	
	<filter>
	    <filter-name>LogFilter</filter-name>
	    <filter-class>
	        com.clematis.core.LogFilter
	    </filter-class>
	    <init-param>
	        <param-name>test-param</param-name>
	        <param-value>This parameter is for testing.</param-value>
	    </init-param>
	</filter>
		<filter-mapping>
	    <filter-name>LogFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>


</web-app>